.add_bio_wrap {
    display: flex;
    flex-direction: column; 
}

.add_bio_wrap > *{
    margin-top: 5px;
    justify-content: space-between;
}

.flex-left {
    font-size: 20px;
}
.flex-left > * {
    filter: invert(40%);
}