.toDoForm {
  background: #ffffff;
  width: 100%;
  padding: 25px;
  margin-bottom: 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 2px solid var(--nav-color);
  margin-left: 7rem;
}

.toDoForm h1 {
  float: left;
}
.toDoForm p {
  font-size: 1rem;
  color: red;
  font-weight: bold;
}

.inputHeader {
  width: 100%;
  /* background-color: red; */
  display: flex;
}

.inputBody {
  display: flex;
}

.formLabel {
  font-size: 2rem;
  margin: 1rem;
}

.formInput {
  padding: 1px;
  width: 100%;
  font: 400 16px/20px "Poppins", Helvetica, Arial, sans-serif;
  margin: 1rem;
  border: 1px solid #ccc;
  background: #fff;
  flex: 1 0 0;
}

.selectInput {
  margin: 1rem;
  flex: 1 0 0;
  width: 100%;
  font-size: 1.5rem;
  border: 1px solid #ccc;
}

.selectInput:focus {
  outline: 0;
}

.formInput:focus {
  outline: 0;
  border: 1px solid #aaa;
}

.addBtn {
  font-size: 15px !important;
  margin: 1rem !important;
  padding: 5px !important;
  width: 97% !important;
}

@media screen and (max-width: 600px) {
  .toDoForm {
      margin-left: 0rem;
  }
}