.kanbanItem {
  flex: 1 0 0;
  /* display: flex; */
  /* align-items: center; */
  background-color: var(--background2);
  min-height: 3rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 2px solid var(--nav-color);
  margin-bottom: 1rem;
}
.itemHeader {
  display: flex;
  position: relative;
  padding-left: 1rem;
  padding-top: 7px;
}
.itemAssigner {
  padding: 6px 10px 0px 5px;
}

.itemButton {
  position: absolute;
  right: 1rem;
}

.itemButton svg {
  margin: 5px;
  cursor: pointer;
  color: var(--nav-color)
}

.itemButton svg:hover {
  color: #a4ac87
}
.itemDescription {
  font-size: 1.3rem;
  padding: 5px 5px 2px 5px;
  margin-left: 2rem;
  width: 100%;
}
