.kanban {
  background: #ffffff;
  width: 100%;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 2px solid var(--nav-color);

  flex: 1 0 0;
  padding: 20px;
  min-height: 60rem;
  max-height: 60rem;
  overflow-y: scroll;
  margin-top: 3rem;
}

.kanbanHeader {
  /* display: flex; */
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
}
