.new_task {
  margin-bottom: -1rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  display: flex;
}

.left {
  flex: 1;
}
.right {
  flex: 1;
}

.new_task button {
  border: none;
  background: var(--nav-color);
}

.new_task button:hover {
  background: #b8c295;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
