.new_task {
    padding: 1rem;
    margin: 2rem auto;
    margin-bottom: -1rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); */
}

.new_task button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid black;
    background-color: var(--nav-color);
    color: black;
    border-radius: 12px;
    margin-right: 1rem;
    font-size: 2rem;
}

