.chatBox {
  min-height: 20rem;
  margin: 3rem;

  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 7px 1rem rgba(0, 0, 0, 0.3);
}

.chat {
  min-height: 60rem;
  /* background-color: aqua; */
  padding: 3rem;
}
.chat > * {
  font-size: 2rem;
}

.chatForm {
  /* background-color: red; */
  display: flex;
  padding: 10px;
}

.chatInput {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
}

.sendBtn {
  width: 7rem;
  font-size: 1.7rem;
}
