.showChat {
  font-size: 4rem;
  color: var(--nav-color);
  cursor: pointer;
}

.showChat:hover {
  color: #a9b188;
}

.list {
  position: absolute;
  bottom: 0;
  right: 3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list::after {
  content: "";
  display: block;
  background-color: var(--nav-color);
  width: 0.2rem;
  height: 10rem;
}

