.showChat {
  font-size: 4rem;
  color: var(--nav-color);
  background: none;

  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.showChat:hover {
  color: #a9b188;
}

.list {
  position: absolute;
  bottom: 0;
  right: 3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list::after {
  content: "";
  display: block;
  background-color: var(--nav-color);
  width: 0.2rem;
  height: 10rem;
}

@media screen and (max-width: 600px) {
  .list {
    position: fixed;
    bottom: 0;
    right: 1rem;
  }
}
