.container {
  background: #ffffff;
  padding: 2.4rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 2px solid var(--nav-color);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  align-items: flex-start;
  text-align: left;
}

.container h3 {
  font-size: 2em;
  white-space: nowrap;
  font-weight: bold;
}
.container p {
  font-size: 1.5rem;
}
.git {
  color: black;
  font-size: 2.4rem;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
}

.git:hover {
  color: var(--nav-color) !important;
}

@media screen and (max-width: 600px) {
  .container {

}
}