.profile {
  color: var(--color-primary);
  height: 100%;
}

.profile_top {
  /* margin-top: 56px; */
  background: var(--background1);
}

.profile_container {
  max-width: 100%;
  background-color: var(--background2);
  margin: 0 auto;
}

.profile_bottom {
  margin-top: 1px;
  background: var(--background1);
}

.bottom_container {
  padding: 10px 2.2rem;
}
