.profile_img_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: -2.8rem;
}

.profile_w_left {
  display: flex;
  gap: 1rem;
  padding: 1rem 13px 0 13px;
}

.profile_w_img {
  position: relative;
}

.profile_w_bg {
  width: 180px;
  height: 180px;
  transform: translateY(-3.6rem);
  border-radius: 50%;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  background: #fff;
  cursor: pointer;
}

.profile_w_bg:hover {
  filter: brightness(95%);
}
.profile_circle {
  position: absolute;
  bottom: 4.5rem;
  right: 0.55rem;
  background: #ccc;
  width: 35px;
  height: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.profile_name {
    display:flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 32px;
}

.profile_w_right{
    display:flex;
    gap: 8px;
    padding: 0 18px;
    margin-bottom: 7px;
}
.gray_btn span{
    margin-left: 5px;    
}
.gray_btn {
    background: grey;
    font-size: 2rem;
    border-radius: 10px;
    padding: 3px 10px;
}

.invert {
    filter: invert(100%);
}

@media (max-width: 900px) {
    .profile_w_left {
        flex-direction: column;
        align-items: center;
    }
    .profile_w_col {

    }
    .profile_w_right {

    }
    .profile_img_wrap {
        flex-direction: column;
        justify-content: center;
    }
    .profile_circle {
        left: 1rem;
    }
    .profile_name {
        padding-bottom: 10px;
    }
}