.profile {
  color: var(--color-primary);
}

.profile_top {
  /* margin-top: 56px; */
  box-shadow: 0 1px 2px var(--shadow-1);
  background: var(--background1);
}

.profile_container {
  max-width: 945px;
  margin: 0 auto;
}

