.flex_container {
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: center;
}

.profileImage {
    width: 14rem;
}
.profileHeader {
    padding: 3rem;
    margin-left: 5rem;
}

.profileHeader h1 {
    padding: 1rem;
}

.btns_container {
    display: grid;
}

.btns_container button {
    margin: 2rem;
    font-family: inherit;
    font-size: 2rem;
    background-color: white;
    padding: 2rem;
}