.container {
    padding-bottom: 10rem;;
}

.projectHeader {
}

.projectTitle {
  display: inline-block;
  font-size: 4rem;
  text-align: left;
  padding: 3rem 5rem;
  font-weight: bold;
  margin: 0;
}

.projectDate {
  font-size: 2rem;
  display: inline-block;
}

.projectDescription {
  font-size: 2rem;
  text-align: left;
  border: 1px solid black;
  padding: 2rem;
  margin: 1rem 6rem;
  min-height: 14rem;
}

.toDoForm {
  padding: 3rem;
  text-align: center;
}

.inputHeader {
width: 100%;
/* background-color: red; */
display: flex;
}

.inputBody {
  display: flex;
}

.formLabel {
  font-size: 2.5rem;
  margin: 1rem;
}

.formInput {
  font-size: 2.5rem;
  margin: 1rem;
  flex: 1 0 0;
}

.addBtn {
  font-size: 2rem;
  margin: 1rem;
  padding: 5px;
  width: 10rem;

}

.kanbanBox {
  padding: 2rem;
  display: flex;
}

.kanban {
  border: 1px solid black;
  margin: 5px;
  flex: 1 0 0;
  padding: 10px;
  min-height: 60rem;
}

.kanbanHeader {
  /* display: flex; */
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
}

.kanbanItem {
  flex: 1 0 0;
  /* display: flex; */
  /* align-items: center; */
  min-height: 3rem;
  border: 1px solid black;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 7px 1rem rgba(0, 0, 0, 0.3);
}
.itemHeader {
  display: flex;
  padding-left: 15px;
  padding-top: 7px;
}
.itemAssigner {
  padding: 6px 10px 0px 5px;
}

.btn {
  height: 3rem;
  width: 3rem;
  margin: 2px 5px;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.itemDescription {
  font-size: 1.6rem;
  padding: 5px 5px 2px 5px;
  width: 100%;
}

.chatBox {
  min-height: 20rem;
  margin: 3rem;
  
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 7px 1rem rgba(0, 0, 0, 0.3);
}

.chat {
    min-height: 60rem;
    /* background-color: aqua; */
    padding: 3rem;
}
.chat > * {
    font-size: 2rem;
}

.chatForm {
/* background-color: red; */
display: flex;
padding: 10px;
}

.chatInput {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
}

.sendBtn {
    width: 7rem;
    font-size: 1.7rem;
}
