.cardContainer {
    display: flex;
    justify-content: center;
}

.card {
    margin: 15px;
}

.title {
    font-size: 25px;
}

.text {
    font-size: 15px;
}
@media screen and (max-width: 600px) {
    .cardContainer {
        display: block;
    }
    .card {
        margin: 0 auto;
        margin-right: 4rem;
    }
}