.sidebar {
  background-color: #fffbe9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 0 0 18%;
}

.side_nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}

.side_nav_item {
  position: relative;
}

.side_nav_item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.side_nav_item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #ccd6a6;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}
.side_nav_item:hover::before,
.side_nav_active::before {
  transform: scaleY(1);
  width: 100%;
  /* background: #CCD6A6;     */
}

.side_nav_item:active::before {
  background-color: #c5cca8;
}

.side_nav_link:link,
.side_nav_link:visited {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.side_nav_link:hover {
}

.side_nav_link_active {
}

.side_nav_icon {
  width: 2rem;
  height: 2rem;
  /* color: #ccc; */
  margin-right: 2rem;
  fill: currentColor;
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: #ccc;
}
