

.navbar {
  height: 7rem;
  background-color: var(--nav-color);
  border-bottom: #777;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

@media screen and (max-width: 620px) {
  .navbar {
    flex-wrap: wrap;
    height: 12.5rem;
    align-content: space-around;
  }
}



