.nav__profile {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.active > * {
  background-color: #f7faec;
  padding: 5px;
  border-radius: 10px;
}

.side_nav_link:link,
.side_nav_link:visited {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 900px) {
  .side_nav_link:link,
  .side_nav_link:visited {
    justify-content: center;
    padding: 2rem;
  }
}

.username {
  color: black;
}